I: expend.qc
D: expected end of statement
T: -diagnostic
C: -std=gmqcc
M: expected operator or end of statement
M:     2: const vector foo = '1 2 3'
M:                           ~~~~~~~^
M: unexpected eof

